.contenedor {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 80%;
  filter: brightness(100%);
}


.comunContacto {
  width: 20vw;
  filter: brightness(100%);
  top: 10px;
}

/*subtitulo*/
.titulo {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 10px;
  border-radius: 20px;
}

.titulo h1 {
  font-size: 1.5em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 8px;
  color: black;
  background-color: #F1F1EF;
}

.titulo span {
  background-color: #F1F1EF;
}

.titulo h1:before {
  border-top: solid black;
  width: 79vw;
}

/**contenedor formulario*/
.container-form {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 100px;
}

/*confirmación de mensaje enviado */
.mensaje-Enviado {
  display: flex;
  width: clamp(20rem, 50vw, 60rem);
  height: 50vh;
  flex-direction: column;
  align-items: center;
  background: #1D1D1Bff;
  border: 5px solid var(--color3);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px var(--color3);
  position: fixed;
  top: 58vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mensaje-Enviado p {
  margin: 5px 0;
  color: var(--color3);
  font-size: clamp(0.5rem, 1rem, 1.2rem);
}

.mensaje-Enviado img {
  max-width: 10rem;
  margin-bottom: 10px;
}

/*icono de cerbeza*/
.beer-icon {
  width: 20px;
}


.form label {
  color: #F1F1EF;
  text-align: left;
  font-size: 1em;
  background: rgba(164, 164, 164, 0.7);
  width: 5vw;
  text-align: center;
}

.error {
  padding: 5px;
  border-radius: 10px;
  color: red;
  font-weight: bold;
  margin: 10px 80px 10px 80px;
  }

/*parrafo subtitulo queremos conocerte*/
.form-p {
  padding: 5px;
  border-radius: 10px;
  font-size: 1.2em;
  color: #F1F1EF;
  background-color: #F1F1EF;
  background: rgba(36, 35, 35, 0.7);
  background: rgba(14, 13, 13, 0.6);
  margin: 0px 80px 10px 80px;
}

/*textarea*/
.textarea {
  width: 90%;
  max-width: 600px;
  min-height: 40vh;
  resize: none;
  border-color: black 2px;
  border-radius: 10px;
  padding: 10px;
}

/*boton form*/
.comunContacto {
  width: 30vw;
  margin: 10px 80px 10px 80px;
}

/*media para título principal,form, p de error mensaje enviado y botón form*/
@media (max-width:770px) {
  .titulo h1:before {
    width: 69vw;
  }

  .titulo {
    top: 7%;
  }

  .form-p {
    margin: 0px 0px 0px 0px;
  }

  .error {
    font-size: 0.8em;
    margin: 10px 50px 10px 50px;
  }

  .comunContacto {
    width: 30vw;
  }
}