.container-all {
    max-width: 94vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    background-color: #1D1D1B;
    overflow-y: auto; 
    overflow-x: hidden; 
   

}

.div-carousel {
    display: flex;
    justify-content: center;
   
}