.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color3);
    margin-top: 0;
    min-height: 65vh;
    min-width: 60%;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 82vw;
    margin-top: 1rem;
}

.login p{
    background-color: transparent;
    color: var(--color3);
    text-decoration: none;
    border: none;
    text-align: center;
}

.login a{
    text-decoration: none;
    max-width: 280px;
}

.login input {
    border-radius: 0.5rem;
}

.botonera{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
    width: 100%;
    max-width: 600px;
}

.botonera .comun {
    flex: 1;
    text-align: center; /* Alinea el texto en el centro del botón */
    padding: 0.5rem; /* Ajusta el padding según sea necesario */
}

@media(max-width:600px){
    .botonera{
    gap: 1rem;
    }  
}

@media(min-width:601px){
    .botonera{
    gap: 5rem;
    }  
}