.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color3);
    margin-top: 5rem;

}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.login p{
    background-color: transparent;
    color: var(--color3);
    text-decoration: none;
    border: none;
    text-align: center;
}

.login a{
    text-decoration: none;
    max-width: 280px;
}

.login input {
    border-radius: 0.5rem;
}

.botonera{
    display: flex;
    flex-direction: row;
    gap: 10rem;
    margin: 1rem;
}