.contenedor-all-usuarios{
    width: 30vw;
    background-color: var(--color9);
    margin: 0.5rem 1rem;
    border-radius: 10px;
   
}
.containerTarjetasUsuarios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.tarjeta-usuario {
    display: flex;
    flex-direction: row;
}

.tarjeta-usuario img {
    width: 12vw;
    height: 20vh;
    object-fit: cover;
  
  
}

.usuario-detalle {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 0.2rem ;
    width: 100%;
}

.usuario-detalle p {
    margin: 3px;
    text-align: start;
    color: var(--color4);
}

.botonera-usuario {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    background-color: var(--color3);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

.div-decoracion-usuario-superior {
   height: 8px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--color3);
}


.contenedor-all-usuarios:hover {
    box-shadow: 1px 1px 1px 1px var(--color3);
    cursor: pointer;
}

@media(max-width: 600px){
    .contenedor-all-usuarios{
        width: 60vw;
    }

    .tarjeta-usuario img {
        width: 22vw;
        height: 20vh;    
    }

    .usuario-detalle p {
     font-size: 0.8rem;
    }
}