.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2); /* Fondo oscuro semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000; /* Asegúrate de que este valor sea mayor que el de la navbar */
}

.modal-content {
  background: rgba(255, 255, 255, 0.9); /* Fondo blanco semi-transparente */
  padding: 20px;
  border-radius: 8px;
  width: 45%; /* Ocupa el 40% del ancho de la pantalla */
  max-width: 600px; /* Máximo ancho del modal */
  max-height: 80vh; /* Altura máxima del modal */
  overflow-y: auto; /* Barra de desplazamiento vertical */
  display: flex; /* Cambiamos a flexbox para centrar el contenido */
  flex-direction: column; /* Apilamos los elementos verticalmente */
  align-items: center; /* Centramos horizontalmente */
  justify-content: center; /* Centramos verticalmente */
  flex-wrap: wrap;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.icon-close {
  font-size: 2rem;
  color: rgb(138, 8, 8);
}

  .modal-content::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color:  var(--color2);
    border-radius: 10px;
}

.modal-content::-webkit-scrollbar-thumb {
    background-color: var(--color4);
    border-radius: 10px;
} 