/*contenedor principal*/
.container-all {
    width: 80%;
    display: flex;
    align-items: center;
    margin-bottom: 3vw;
    margin-top: 3vw;
}

/*log*/
.logo img {
    width: 30%;
    border-radius: 100%;
    margin-bottom: 30px;
}

/*subtítulo*/
.portada h1 {
    z-index: 1;
    position: relative;
    width: 94vw;
    height: 65px;
    letter-spacing: 0.5em;
    text-align: center;
    color: #F1F1EF;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: #f5f5d7 0px 0px 6px 6px;
    padding: 10px;
}

hr {
    color: #F1F1EF;
    width: 93vw;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}


/*contenedor de img*/

.img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #F1F1EF;
    border-radius: 20px;
    padding: 20px;
}

/*img*/
.img-container img {
    width: 30vw;
    max-width: 40vw;
    margin: 10px 0;
}
/*media adaptación pantallas móviles*/
@media (max-width: 520px) {
    .img-container img {
        width: 80vw;
        margin: 10px 0;
    }
}

/*logo*/
.logo img {
    border-radius: 100%;
    width: 20vw;
}

/*titulo de contenedor de img*/
.img-container h1 {
    color: black;
    font-size: 1.3em;
    margin-top: 50px;

}

/*contenedor sintacc*/
.container-img-sintacc {
    display: flex;
    flex-wrap: wrap;
}
/*barra espaciadora*/
::-webkit-scrollbar {
    width: 10px;
    background-color: #c19f71;
}

::-webkit-scrollbar-thumb {
    background-color: #F1F1EF;
}