.transparente{
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(0%, 0%);
    z-index: 9970;
    width: 100%;
    height: 100%;
    background-color: #1410109a;
}


.menuDetalleElementos,
.menuDetalleElementosEliminado{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9972;
    float: inline-start;
    min-width: 210px;
    width: 60%;
    max-height: 80vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: auto;
    color: var(--color1);
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 4px black;
}

.menuDetalleElementosEliminado {    
    background-color: var(--color5);
}

.menuDetalleElementos {    
    background-color: var(--color2);
}

.menuDetalle{
    overflow: auto;
    padding: 0.5rem 0.5rem;
}

.menuDetalle  h2{
    font-size: 1.1em;
    margin: 1rem;
    text-align: center;
}

.menuDetalle h3{
    font-size: 0.9em;
    margin: 2px;
    text-align: start;
    color: var(--color4);
    text-shadow: 
        -1px -1px 0 var(--color1),  
        1px -1px 0 var(--color1),
        -1px  1px 0 var(--color1),
        1px  1px 0 var(--color1);
    width: 50%;
}

.menuDetalle::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color:  var(--color2);
    border-radius: 10px;
}

.menuDetalle::-webkit-scrollbar-thumb {
    background-color: var(--color4);
    border-radius: 10px;
}

.menuFotoDescripcion, .valoracionPrecio{
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 0.5rem;
}

.valoracionPrecio{
    flex-wrap: wrap;
}
.menuFotoDescripcion{
    flex-direction: column;
    align-items: center;
}

.menuFotoDescripcion  img{
    margin: 0 1rem 1rem 1rem;
    max-width: 90%;
    max-height: 40%;
    border-radius: 5px;
}

.valoracionPrecio p{
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.menuFotoDescripcion p{
    background-color: transparent;
    border: none;
    box-shadow: none;
    width: 90%;
    text-align: start;
    margin: 0.2rem 0 ;
}

.menuCabecera {
    display: flex;
    justify-content: space-between;
}


/*menu detalle aux*/




