.menuDetalleEliminado {
    background-color: var(--color5);
}

.menuDetalle{
    background-color: var(--color2);
}

.menuDetalle,
.menuDetalleEliminado{
    overflow: auto;
    padding: 0.5rem 0.5rem;
    border-radius: 8px;
    
}

.menuDetalle  h2,
.menuDetalleEliminado h2{
    font-size: 1.1em;
    margin: 1rem;
    text-align: center;
}

.menuDetalle h3,
.menuDetalleEliminado h3{
    font-size: 0.9em;
    margin: 2px;
    text-align: start;
    color: var(--color4);
    text-shadow: 
        -1px -1px 0 var(--color1),  
        1px -1px 0 var(--color1),
        -1px  1px 0 var(--color1),
        1px  1px 0 var(--color1);
    width: 50%;
}

.menuDetalle::-webkit-scrollbar,
.menuDetalleEliminado::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color:  var(--color2);
    border-radius: 10px;
}

.menuDetalle::-webkit-scrollbar-thumb,
.menuDetalleEliminado::-webkit-scrollbar-thumb {
    background-color: var(--color4);
    border-radius: 10px;
}

.menuFotoDescripcion, .valoracionPrecio{
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 0.5rem;
}

.valoracionPrecio{
    flex-wrap: wrap;
}
.menuFotoDescripcion{
    flex-direction: column;
    align-items: center;
}

.menuFotoDescripcion  img{
    margin: 0 1rem 1rem 1rem;
    max-width: 90%;
    max-height: 40%;
    border-radius: 5px;
}

.valoracionPrecio p{
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.menuFotoDescripcion p{
    background-color: transparent;
    border: none;
    box-shadow: none;
    width: 90%;
    text-align: start;
    margin: 0.2rem 0 ;
}

.menuCabecera {
    display: flex;
    justify-content: space-between;
}


/*menu detalle aux*/

.nuevoDiseno{
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 0;
    margin: 0;
}

.nuevoDiseno img{
    max-width: 20vw;
    height: 70vh;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    margin: 0.5rem;
    object-fit: cover;
}

.nuevoDiseno-detalles{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    margin: 0.5rem 0.5rem 0 0.5rem;
    overflow: hidden;
    width: 100%;
}
.nuevoDiseno-detalles p,
.nuevoDiseno-detalles h2{
    padding: 0 0.2rem;
    margin: 1rem 0;
    text-align: justify;
}


.nuevoDiseno-detalles h3{
    text-align: center;
    font-size: 2em;
}

#ingredientes{
    font-size: small;
}


.nuevoDiseno-detalles h2{
    font-size: 2em;
}

.nuevoDiseno-valoracion-precio{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

