.carruselConteiner {
    position: relative;
    background-color: transparent;
    overflow: hidden;
    color: var(--color2);
    border-radius: 10px;
    border: 1px solid var(--color2);
    width: 60%;
    max-height: 70vh;
    padding: 0;
  }
  
  .flechaDerecha,
  .flechaIzquierda {
    position: absolute;
    z-index: 9990;
    top: 30%;
    color: var(--color2);
    font-size: 5em;
    cursor: pointer;
  }
  
  .flechaDerecha {
    right: 0;
  }
  
  .flechaIzquierda {
    left: 0;
  }
  
  .carruselConteiner ul {
    padding: 0;
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carruselConteiner .principal {
    flex: 0 0 100%;
    margin: auto;
  }
  
  .principal img {
    width: 100%;
  }
  

  @media (max-width: 600px) {

  }