/* Contenedor de la tarjeta */
.card-sucursal-container {
    position: relative;
    width: 300px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    margin: 10px;
}

/* Contenedor de la imagen */
.card-img-sucursal-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Imagen de la tarjeta */
.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-radius: 10px;
}

/* Contenedor del hover */
.card-sucursal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(91, 85, 85, 0.879);
    color: var(--color3);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: opacity 0.4s ease;
    box-sizing: border-box;
}

/* Texto dentro del hover */
.card-sucursal-overlay h3 {
    text-align: center;
    font-size: 1em;
    letter-spacing: 0.1em;
}

/* Estilo del título */
.card-h1 {
    color: var(--color2);
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 10px;
}

.card-sucursal-container:hover .card-img {
    transform: scale(1.1);
}

.card-sucursal-container:hover .card-sucursal-overlay {
    opacity: 1;
}

/* Contenedor de todas las tarjetas */
.container-all-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

/* Contenedor de los botones de iconos */
.btn-icon {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
    gap: 10px;
}

/* Botones de iconos */
.icon-button {
    background: none;
    border: 1px solid var(--color2);
    border-radius: 4px;
    cursor: pointer;
    color: var(--color2);
    padding: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.icon-button:hover {
    background-color: var(--color3);
    color: var(--color1);
    border-radius: 10px;
}

/* Adaptación para pantallas pequeñas */
@media (max-width: 926px) {
    .cards-sucursal {
        width: 80%;
        height: auto;
        margin-top: 5px;
    }

    .card-sucursal-overlay h3 {
        font-size: 0.8em;
    }

    .cards-sucursal h1 {
        font-size: 1em;
        margin-bottom: 5px;
    }
}
