.menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #1D1D1B;
    overflow-y: auto; 
    overflow-x: hidden; 
    margin: 1rem 1rem 0 1rem;
    width: 100%;

}

.menuCatYTitulo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.menu a{
   text-decoration: none;
}

.menu h4, menu a{
    margin-top: 0.5rem;
    margin-left: 0.1rem;
    padding: 0.1rem 2rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: var(--color4);
}

.menu h4{
    margin-left: 0;
}

.menu h4:hover, menu a:hover{
    background-color: var(--color4);
    color: var(--color1);
}

.menu .menuCategoria {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    margin: 0.2rem 1rem;
    padding: 0 0.2rem;
}

.menu p{
    color: #1D1D1B;
}



.menu .menuCategoria::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color:  #F1F1EF;
    border-radius: 10px;
}

.menu .menuCategoria::-webkit-scrollbar-thumb {
    background-color: #c19f71;
    border-radius: 10px;
}
