.menu {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    
}

.menu .menuCategoria {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

