/* Estilos para el modal */
.modal {
    display: flex;
    width: clamp(20rem, 50vw, 60rem);
    height: fit-content;
    flex-direction: column;
    align-items: center;
    background: #1D1D1Bff;
    border: 5px solid var(--color3);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px var(--color3);
    position: fixed;
    top: 58vh;
    left: 50%;
    transform: translate(-50%, -50%);    
  }
  .line-modal {
    height: 2px;
    background-color: var(--color3);
    width: 15vw;
    margin: 2vh 0 2vh 0;
  }
  .modal img {
    max-width: 10rem;
    margin-bottom: 10px;
  }
  h3 {
    font-size: clamp(1.5rem, 5vw, 2rem);
  }
  .modal p {
    margin: 5px 0;
    color: var(--color3);
    font-size: clamp(0.5rem, 1rem, 1.2rem);
  }
  .modal h3, .button-reservas {
    color: var(--color3);
  }
   
  