.reservas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color3);
    overflow-y: auto;
    position: relative;
    top: 0;
    margin-bottom: 15vh;
   
}


.reservas p{
    background-color: transparent;
    color: var(--color3);
    text-decoration: none;
    border: none;
    text-align: center;
}

.reservas a{
    text-decoration: none;
    max-width: 280px;
}


.button-reservas{
    border: 1px solid black !important;
    border-radius: 10px;
    box-shadow: 1px 1px 2px black;
    padding: 0.2rem 0.8rem;
    margin: 0.2rem 0.3rem;
    cursor: pointer;
    color: black !important;
    background-color: #c19f71;
    width: max-content;
}

.formulario input:disabled {
    background-color: #c19f71; 
}

.reservas .formulario .renglonInput input ,
.reservas .formulario .renglonInput select {
    width: 100%;
    max-width: none;
}

.button-reservas:hover {
    box-shadow: 2px 2px 4px black;
    background-color:  #F1D69D;
}

 