#root {
  width: 100vw;
  height: auto;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  display: inline; 
} 

.conteinerGeneral{
  margin-top: 10vh;
  margin-bottom: 16vh;
  margin-left: 0;
  margin-right: 0;
  width: 99vw;
  min-height: 77vh;
  padding: 0.1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

