select{
    cursor: pointer;
}
.renglonInput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    max-width: 600px;
    width: 100%;
    padding: 0.2rem;
    margin-bottom: 0.4rem;
}

.renglonInput label{
    text-align: start;
    padding: 0 0.1rem;
}

.renglonInput input,
.renglonInput select{
    text-align: left;
    margin: 0;
    border-radius: 10px;
    padding: 0.1rem 0.5rem;
    width: 90%;
}

.renglon {
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    width: 100%; 
}

.renglon label {
    margin-left: 0.5rem;
    text-align: left;
}

.renglon input[type="radio"] {
    margin-right: 5px;
    width: 1rem;
    cursor: pointer;
}

