.comun, .mas-menos, .alerta,.iconBtn, .iconGrande{
    border: 1px solid black;
    border-radius: 12px;
    box-shadow: 1px 1px 2px black;
    cursor: pointer;
}

.comun, .mas-menos, .alerta, .iconBtn{
    background-color: var(--color4);
    padding: 0.1rem 0.4rem 0.2rem;
}

.mas-menos, .alerta, .iconBtn{
    margin: 0rem 0.2rem;
}

.comun{
    margin: 0.1rem 0;
}

.alerta {
    min-width: 50%;
    font-size: 0.9em;
}

.comun:hover, .alerta:hover, .iconBtn:hover, .iconGrande:hover {
    box-shadow: 2px 2px 4px black;
    background-color:  var(--color3);
}

.cerrar{
    position: fixed;
    top: 8px;
    right: 8px;
    cursor: pointer;
}

.icono, .cerrar{
    background-color: transparent;
    color: black;
    padding: 0.1rem 0.4rem 0.2rem;
    border: none;
}

.cerrar:hover, .icono:hover{
    box-shadow: 2px 2px 4px black;
    background-color:  none;
    
    border: 1px solid black;
    border-radius: 12px;
}

.iconBtn{
    font-size: 0.8em;
    margin: 0.5rem 0;
    color: var(--color1);
}

.iconGrande {
    font-size: 1.5em;
    background-color: var(--color4);
    margin: 0.5rem 0.2rem 1rem;
    padding: 0.1rem 2rem;
}

@media (max-width: 600px) {
    .comun, .cerrar, .alerta {
        font-size: 0.8em;
    }
}