.comun, .cerrar{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 2px black;
    padding: 0.2rem 0.8rem;
    margin: 0.2rem 0.3rem;
    cursor: pointer;
}

.comun{
    background-color: #c19f71;
}

.comun:hover {
    box-shadow: 2px 2px 4px black;
    background-color:  #F1D69D;
}

.cerrar{
    position: fixed;
    top: 5px;
    right: 5px;
    background-color: rgb(138, 8, 8);
    color: black;
}

.cerrar:hover {
    box-shadow: 2px 2px 4px black;
    background-color:  rgb(240, 49, 49);
}